.App {
  font-family: "Josefin Sans", sans-serif;
  overflow: hidden;
}
/* for first li in navbar */
.active {
  border-bottom: solid #034ea1 2px;
}

.active:hover .home-link {
  color: #034ea1 !important;
}

.link-container:hover .link {
  color: #034ea1 !important;
}

.text {
  color: #0a0a23;
}

/* button */
.button {
  color: #f8f9fa;
  background-color: #034ea1;
  padding: 7px 25px;
  font-weight: 500;
  outline: none;
  border: none;
}

.button:hover {
  color: #fff043;
}

iframe {
  width: 200px;
  height: 200px;
  border: #f8f9fa solid 10px;
}

.react-icon {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

/* animation for shop-icon */
.shop-icon {
  position: absolute;
  right: 0.7rem;
  top: -1rem;
  left: 40%;
  animation: up-down 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335) infinite
    alternate;
}

@keyframes up-down {
  100% {
    top: 0.5rem;
  }
}

/* when hovering on item */
.add {
  transition: all 0.5s ease;
}
.item:hover .add {
  top: 0;
}

/* for nav Links */
a:hover {
  text-decoration: none !important;
}

p {
  text-align: justify;
}
